<div id="about" class="container">
<div class="row">
    <div class="col s12 m12 l12">
    <div id= "aboutpanel" class="card-panel blue">
        <p class="white-text">
            Movie List built on AngularJS, (+ Angular-Animate and UI-Router), and Materialize CSS using 1.5 components.
        </p>
        <p class="white-text">
            -Mauricio Montes de Oca Maigre
        </p>
          <p class="white-text">
            -Dev.F Cinta Negra Front End
        </p>
    </div>
    </div>
</div>
</div>