#movieImg{
    margin-top: 3px;
    width: 400px;
    height: 440px;
}

#favoriteMovie{
    background-repeat: no-repeat;
    background-size: 15%;
    padding: 42px 42px;
}

#favorites li {
    font-size: 20px;
    text-align: center;
}

#about{
    margin: 0 auto;
    margin-top: 9%;
    font-size: 20px;
    text-align: center;
}
#aboutpanel{
    padding: 50px;
}

.collection-header{
    font-size: 35px;
}
.rotten{
    font-weight: normal;
}

.collection{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 50%;
}
.card-action{
    margin-bottom: 10px;
    background-color:white;
}

#freshRotten{
    float: right;
    width: 30px;
    margin-right: 90px;
    margin-top: -28px;
}

#title{
    font-size: 1.3rem;
    
}
.fresh{
    font-weight: bold;
}

#description{
    font-size: 1.25rem;
    padding-right: 10px;
}

.brand-logo{
    margin-left: 6px;
    margin-top: 4px;
    width: 150px;
}

#searchField{
    color: black;
    margin: 30px auto 0 auto;
    width: 25%;
}

@media (min-width: 990px) {
    #movieImg
    {
        width: 254px;
        height: 310px;
    }
    .row .col.l4 {
        width: 28%;
        margin-right: 30px;
        margin-left: auto;
    }

   

    .row .col.l4:nth-child(1n) {
        margin-left:15px;
    }

    .row .col.l4:nth-child(3n) {
        margin-right:0;
    }
}


/*ANIMATIONS*/

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}


.ui-view-container {
            position: relative;
        }


[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}
